
<div class = "search">
    <form #form = "ngForm" (submit)="onSubmit()">
        <input type = "text" placeholder="Search city" name = "city" [(ngModel)] = "cityName">
    </form>
</div>

<div class = "container" *ngIf = "weatherData">
    <div class="upper-data">
        <img src="../assets/warm_weather.jpeg" *ngIf = "weatherData.list[0].main.temp > 15">
        <img src="../assets/cold_weather.jpeg" *ngIf = "weatherData.list[0].main.temp <= 15">
        <img src="../assets/windy_weather.jpeg" *ngIf = "weatherData.list[0].wind.speed > 35">
        <img src="../assets/weather_overcast_warm.jpeg" *ngIf ="weatherData.list[0].weather[0].description=='overcast clouds'">
        <img src="../assets/rain_weather.jpeg" *ngIf = "weatherData.list[0].main.humidity >= 90">
        <div class = "weather-data">
            <div class="location"> {{weatherData.city.name}}</div>
            <div class="temperature">{{weatherData.list[0].main.temp |number: '1.0-0'}}°C</div>
        </div>
    </div>
    <div class="lower-data">
        <div class = "day-sel-container">
            <mat-button-toggle-group name="date"> 

            </mat-button-toggle-group>
            <button mat-stroked-button>Test</button>
         </div>
         <div class = "more-info-container">
            <div class = "info-block">
                <div class = "info-block-label">
                    <img src ="../assets/low.webp">
                    <span>min</span>
                </div>
                <div class = "info-block-value"> 
                    {{weatherData.list[0].main.temp_min|number: '1.0-0'}}°C
                </div>
            </div>

            <div class = "info-block">
                <div class = "info-block-label">
                    <img src ="../assets/hot.png">
                    <span>max</span>
                </div>
                <div class = "info-block-value">
                    {{weatherData.list[0].main.temp_max|number: '1.0-0'}}°C
                </div>
            </div>

            <div class = "info-block">
                <div class = "info-block-label">
                    <img src ="../assets/humidity.webp">
                    <span>humidity</span>
                </div>
                <div class = "info-block-value">
                    {{weatherData.list[0].main.humidity}}%
                </div>
            </div>

            <div class = "info-block">
                <div class = "info-block-label">
                    <img src ="../assets/wind.png">
                    <span>wind</span>
                </div>
                <div class = "info-block-value">
                    {{weatherData.list[0].wind.speed}}km/h
                </div>
            </div>

         </div>
    </div>
</div>

<router-outlet></router-outlet>